<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>CarLot</title>
  </head>
  <body>
    <h1>Add Car</h1>

    <form action="/cars" method="post">
      <label for="makeModel">Model</label>
      <input id="makeModel" name="makeModel" type="text">
      <label for="price">Price</label>
      <input id="price" name="price" type="text">
      <label for="miles">Miles</label>
      <input id="miles" name="miles" type="text">
      <label for="note">Note</label>
      <input id="note" name="note" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
