<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Search Cars</title>
  </head>
  <body>
    <h1>Search our lot</h1>

    <form action="/cars/options" method="post">
      <label for="findModel">What model would you like?</label>
      <input id="findModel" name="findModel" type="text">
      @* <label for="price">Price</label>
      <input id="price" name="price" type="text">
      <label for="miles">Miles</label>
      <input id="miles" name="miles" type="text"> *@
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
