@using CarDealership.Models;

<h1>Search Results</h1>
<ul>

  @if (Model.Count == 0)
  {
    <p>No cars match your search!</p>
  }
  @if(Model.Count != 0)
  {
    @foreach (Car car in Model)
    {
      <li>@car.GetMakeModel()</li>
      <li>@car.GetPrice()</li>
      <li>@car.GetMiles()</li>
      <li>@car.GetNote()</li>
    }
  }
</ul>
<a href="/cars/search">New search</a>
<a href="/cars/">See all cars</a>
<a href="/cars/new">Add car</a>
